.card{
  margin: 0;
  // background-color: bisque;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  
  .card__text{
    font-size: 1rem;
    // background-color: yellow;
    margin: 0;
    text-align: center;
  }
  .card__img{
    width: 24vw;
  }

}