.card{
  padding: 0.5rem;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  flex: 1;
  // width: 10vw;

  .card__text{
    font-size: 3rem;
    background-color: yellow;
    margin: 0;
  }
}