.card{
  margin: 0;
  background-color: bisque;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;

  .card__img{
    width: 24vw;
  }

  .card__text{
    font-size: 3rem;
    background-color: yellow;
    margin: 0;
  }
}