* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.navbar {
  background-color: #4abe84;
  width: 10vw;
  height: 100vh;
}

.navbar ul{
  list-style: none;
}

.navbar li {
  margin-right: 3rem;
}


@media (prefers-reduced-motion: no-preference) {
  
}
