* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.navbar {
  background-color: #4abe84;
}

.navbar ul{
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar li {
  margin-right: 3rem;
}


@media (prefers-reduced-motion: no-preference) {
  
}
